<div class="container">

    <div class="jumbotron">
        <h1>Eat-Da-Burger</h1>
        <br>
        <p>Watch your order be placed and populate on the left side!
        <br> To devour your burger simply select the button, 
        <br>and watch it move to the right side!
        </p>
        <img src="../assets/images/burgericon.png" alt="burger transparent bg">
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="None Chosen" selected>Choose Da Burger</option>
                        <option value="Guacamole Burger">Guacamole Burger</option>
                        <option value="Retro Hamburger">Retro Hamburger</option>
                        <option value="Cheese Burger">Cheese Burger</option>
                        <option value="Western Bacon Burger">Western Bacon Burger</option>
                        <option value="Turkey Burger">Turkey Burger</option>
                    </select>

                    <button type="submit" class="btn btn-success">Burger me up!<id="addburger"></button> 
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Burger Orders Up!</strong>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">Devour it</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Devoured Burgers!</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">Clear Orders</button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
</div>
