<div class="container">

    <div class="jumbotron">
        <h1>Eat-Da-Burger</h1>
        <br>
        <p>Watch your order be placed and populate on the right side!
        <br> To eat your burger simply select the devour button, 
        <br>and watch it move to the left side!
        </p>
        <img src="../assets/images/burgericon.png" alt="burger transparent bg">
        <panel>
            <form class="create-form">
                <div class="form-group">
                    {{!-- <label for="newburger">Order Fresh Burger</label> --}}
                    {{!-- <input type="text" id="newburger" name="burger"> --}}
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Sandwich</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="DoubleBfChz">Double Up (double meat and cheese)</option>
                        <option value="VeggieBurger">Veggie Burger</option>
                        <option value="PulledPork">Pulled Pork Sandwich</option>
                        <option value="ChichenClub">Chicken Club Sandwich</option>
                        <option value="SteaknChz">Steak and Cheese Sandwich</option>
                    </select>

                    <button type="submit" class="btn btn-success">Burger me up!<id="addburger"></button> 
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Burger Orders Up!</strong>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">Devour it</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Devoured Burgers!</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->